* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
}

h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

button{
  font-weight: 400;
}

span {
  font-weight: 600;
}

a{
  font-weight: 400;
}

button:hover{
  cursor: pointer;
}

/* index.html styling */

/* hidden, view and blur stylying */
.hide-content{
  display: none;
}

.active{
  display: block;
  animation: dropBounce 0.6s ease;
}

.blur{
  filter: blur(1rem);
}

/* dropBounce Animation styling */
.drop-bounce{
  animation: dropBounce 0.6s ease;
}


/* first visit to the page styling */
.first-visit{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.4rem;
}

.pass-view{
  position: relative;
  left: 1rem;
  top: 0.1rem;
  font-size: 1.5rem;
}

.p-one{
  position: relative;
  left: 1.5rem;
}

.pass-view:hover{
  cursor: pointer;
}

.first-visit .first-intro {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.first-visit img {
  max-width: 15rem;
  margin: 0 auto;
  text-align: center;
}

.first-visit input {
  width: 10rem;
  text-align: center;
  border: none;
  border-radius: 4rem;
  height: 3rem;
  color: #000;
}

.first-visit input::placeholder {
  color: #000;
}

.first-visit .sign-up {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.first-visit .first--details{
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 3rem;
  margin-left: -3.3rem;
}

.first-visit .second--details{
  display: flex;
  justify-content: center;
}

.first-visit .second--details .user--name{
  position: relative;
  left: -2.3rem;
}

.first-visit .second--details .pass-view{
  margin-top: 0.3rem;
}

.first-visit .fname{
  position: relative;
  left: -1.2rem;
}

.first-visit .user--name{
  position: relative;
  left: -1.2rem;
}

.first-visit .user--pin{
  position: relative;
  left: -0.9rem;
}

.sign-up .btn-sign-up{
  margin-top: 4rem;
  background: #818cf8;
  color: #fff;
  border-radius: 3rem;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  width: 10rem;
}

.sign-up .btn-sign-up:hover{
  background: #6366f1;
  color: #fff;
}

.first-visit .login{
  margin-bottom: 10rem;
}

.first-visit .login--input{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.first-visit .login .pass-view{
  margin-top: 0.6rem;
}

.first-visit .login .btn-log-in{
  margin-top: 4rem;
  background: #818cf8;
  color: #fff;
  border-radius: 3rem;
  padding: 1rem;
  border: none;
  font-size: 1.3rem;
  width: 9rem;
}

.login .btn-log-in:hover{
  background: #6366f1;
  color: #fff;
}

.first--button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first--button button{
  width: 10rem;
  font-size: 1rem;
  margin: 0 auto;
  border: none;
  background: #818cf8;
  color: #fff;
  border-radius: 3rem;
  height: 5rem;
  text-transform: capitalize;
}

.first-visit button:hover {
  cursor: pointer;
  background: #6366f1;
}


/* main-page-content styling */

header {
  border-bottom: solid 0.1rem #444;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.4rem;
  margin-bottom: 4rem;
}

nav img {
  max-width: 15rem;
  margin: 0 auto;
  text-align: center;
}

.active-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  background: #1e293b;
  z-index: 1000;
}

nav .main-nav-links{
  height: 6rem;
}

nav .main-nav-links ul {
  padding: 0.5rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  text-transform: capitalize;
}

nav .main-nav-links a {
  text-decoration: none;
  color: #818cf8;
  font-size: 1rem;
}

nav .main-nav-links a:hover {
  color: #4f46e5;
  font-size: 1rem;
}

.main-page-content header h1 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2rem;
  text-transform: capitalize;
  width: 100%;
  margin: 0 auto;
  line-height: 5rem;
}

.main-page-content header h1 span,
.main-page-content header strong {
  padding: 0.8rem;
  background: #818cf8;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: rgba(255, 255, 255, 0.95);
}

.main-page-content header .intro {
  padding: 2rem;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
}

.main-page-content header .learn-more {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
}

.main-page-content header .learn-more a {
  color: #4f46e5;
}

.main-page-content header .learn-more a:hover {
  color: #4f7cff;
}

.banner-one, .banner-two{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
  margin-top: 5rem;
}

.banner-two {
  height: 25rem;
  margin-bottom: 1rem;
}

.banner-two img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: -3rem;
  left: -4rem;
}

.intro-img1{
  width: 50%;
  height: auto;
  margin: 0 auto;
} 

.desktop-view{
  display: none;
}

.intro-img2{
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.index-main .features {
  padding: 2rem;
  background: #eef2ff;
}

.index-main .features div{
  margin-bottom: 5rem;
}

.index-main .features h2 {
  margin-top: 10rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.index-main .features p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.index-main .features img{
  width: 100%;
  max-width: auto;
  height: auto;
}

.index-main .features .f-two .two, .index-main .features .f-three .two{
  display: none;
}

.index-main .features .f-one h3, .index-main .features .f-two h3, .index-main .features .f-three h3{
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.index-main .features .f-one p, .index-main .features .f-two p, .index-main .features .f-three p{
  width: 100%;
  font-size: 1.2rem;
}

.index-main .operations{
  padding: 1rem;
  height: 40rem;
  background: #e5e7eb;
  width: 100%;
}

.o-slides i{
  font-size: 3rem;
}

.o-slides .icon-con{
  margin: 0 auto;
  text-align: center;
}

.index-main .o-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.index-main .slide{
  margin-top: 7rem;
  line-height: 1.6;
}

.index-main .o-buttons .o-btn1{
  background: #818cf8;
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}

.index-main .o-buttons .o-btn2{
  background: #34d399;
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}

.index-main .o-buttons .o-btn3{
  background: #f87171;
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}

.index-main .o-buttons .o-btn1, .index-main .o-buttons .o-btn2, .index-main .o-buttons .o-btn3{
  font-size: 1.5rem;
  width: 80%;
  height: 5rem;
}

.index-main .testimonials-section{
  background: #ffffff;
}

.index-main .testimonials-section img{
  width: 15%;
}

.index-main .testimonials{
  width: 30rem;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.t-slides i{
  font-size: 3rem;
}

.index-main .testimonials h2{
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.index-main .testimonials p{
  font-size: 1.3rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.index-main .testimonials .t-slider{
  display: flex;
  transition: transform 0.5s ease;
}

.index-main .testimonials .t-slider h5{
  font-size: 1.3rem;
}

.index-main .testimonials .t-slides{
  min-width: 100%;
  padding: 2rem;
  text-align: center;
  line-height: 1.6;
}

.index-main .testimonials .t-slides blockquote{
  width: 60%;
  margin: 0 auto;
}

.indicators{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20rem;
  font-size: 3rem;
  padding: 1rem;
}

.indicators:hover{
  cursor: pointer;
}

.dots{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -4rem;
  font-size: 3rem;
  padding: 1rem;
}

.dots button{
  border: none;
  background: none;
  font-size: 1.5rem;
}

.btn-dot{
  border: none;
  background: none;
  font-size: 1.5rem;
}

.btn-dot:hover{
  cursor: pointer;
}

.main-page-content footer{
  background: #e5e7eb;
  height: 25rem;
  padding: 5rem;
}

.footer-links img{
  width: 10rem;
  display: block;
  margin: 0 auto;
}

.footer-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.footer-links ul li {
  list-style-type: none;
}

.footer-links ul li a {
  text-decoration: none;
}

.main-page-content footer .copyright{
  text-align: center;
  padding: 1rem;
}


/* transaction.html styling  */
.t-form{
  margin: 6rem;
  padding: 6rem;
  display: block;
  margin: 0 auto;
}

.t-form img{
  width: 10rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.t-form .t--login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.t-form .login--input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.t-form  form input{
  width: 10rem;
  height: 3rem;
  text-align: center;
  border: none;
  border-radius: 4rem;
  color: #000;
}

.t-form form .tuser--name{
  position: relative;
  left: -0.7rem;
}

.tsign-in{
  background: #818cf8;
  color: #fff;
  border-radius: 3rem;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  width: 10rem;
}

.bi-house-fill{
  font-size: 3rem;
  color: #6366f1;
}

.t-header .first--message{
  font-size: 1rem;
}

.t-page{
  padding: 0rem;
  margin: 0rem;
}

.t-page .t-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.t-page .t-header .user-con{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.t-page .t-header .user-con img{
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 20rem;
  background: lightsteelblue;
}

.t-page .t-header .nav-toggle{
  margin: 2rem;
  width: 4rem;
  height: 4rem;
  background: none;
  border: none;
  font-size: 3rem;
}

.t-page .desktop-nav{
  display: none;
}

.t-page .mobile-nav{
  margin: 1rem;
  display: flex;
  justify-content: right;
}

.t-page .mobile-nav ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  list-style-type: none;
}

.t-page nav ul li a{
  text-decoration: none;
}

.t-main{
  padding: 2rem;
  animation: dropBounce 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

.current-balance{
  background: rgba(129, 140, 248, 0.20);
  color: #111827;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}


.t-main .account-con{
  text-align: center;
  margin-bottom: 2.5rem;
}

.t-main .account-con h1{
  font-size: 1.5rem;
}

.t-main .account-con span{
  font-size: 1rem;
}


.total-balance, .deposit, .withdraw{
  font-size: 1.2rem;
}

.balance-content{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance-content h3, .currentBal p{
  font-size: 0.9rem;
}

.balance-section, .transfer-section, .request-section{
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.balance-section{
  background: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.balance-section div:nth-last-of-type(1){
  border-bottom: none;
}

.balance-content{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.balance-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-row span{
  font-size: 1rem;
  color:#000; 
}

.provider{
  font-size: 0.8rem;
  opacity: 0.7;
}

.mov-date{
  font-size: 0.75rem;
  opacity: 0.6;
}

.t-page .dashboard{
  grid-template-columns: 1, 1fr;
  background: hwb(0 100% 0%);
  padding: 3rem;
  margin: 3rem;
  border-radius: 3rem;
}

.t-page .dashboard .accounts-overview h1{
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 2;
}

.account-number{
  padding: 1rem;
  border-radius: 1rem;
  background: #5f9cff;
  color: #fff;
}

.btn-copy{
  font-size: 2rem;
  position: relative;
  top: 0.3rem;
  border: none;
  background: none;
}


.t-page .dashboard .checking-accounts{
  background: rgba(79, 70, 229, 0.12);
  color: #111827;
  padding: 3rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
}

.t-page .dashboard .checking-accounts .checking-con{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.t-page .dashboard .checking-accounts .checking-con h2{
  font-size: 1.2rem;
}

.t-page .dashboard .checking-accounts .checking-con h3{
  font-size: 1rem;
}

.t-page .dashboard .checking-accounts .checking-con p{
  font-size: 1.3rem;
}

.t-page .dashboard .quick-actions{
  margin-top: 3rem;
}

.t-page .dashboard .quick-actions div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; 
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.t-page .dashboard .quick-actions .transfer-funds{
  width: 13rem;
  text-align: center;
  text-transform: capitalize;
  background: #39d98a;
  color: #fff;
  font-size: 1.3rem;
}

.t-page .dashboard .quick-actions .transfer-funds:hover{
  cursor: pointer;
  background: #20c997;
}

.t-page .dashboard .quick-actions .pay-bills{
  width: 13rem; 
  text-align: center;
  background-color: #5f9cff;
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.t-page .dashboard .quick-actions .pay-bills:hover{
  cursor: pointer;
  background: #4f46e5;
}

.t-page .balance-container{
  margin-top: 7rem;
}

.bills-container{
  display: none;
}

.bills-sub-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.airtime{
  background: #4f7cff;
  color: #fff;
}

.subscription{
  background-color: #6366f1;
  color: #fff;
}

.electricity{
  background-color: #5f9cff;
  color: #fff;
}

.bills-sub-container section{
margin-bottom: 3rem;
}

.airtime, .electricity, .subscription{
  border-radius: 2rem;
  padding: 3rem;
}

.airtime-con, .electricity-con, .subscription-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.airtime h1, .electricity h1, .subscription h1{
  font-size: 1.3rem;
  border-radius: 3rem;
  border-radius: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.airtime-con label, .electricity-con label, .subscription-con label{
  font-size: 1.2rem;
}

.airtime-con label:nth-last-of-type(1), .electricity-con label:nth-last-of-type(1), .subscription-con label:nth-last-of-type(1){
  display: block;
}

.airtime-con select, .electricity-con select, .subscription-con select{
  margin-bottom: 1rem;
  display: block;
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: solid;
}

.airtime-con .p-number, .electricity-con .e-id, .subscription-con .sub-id{
  margin-bottom: 1rem;
  display: block;
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.airtime-con .airtime-amount, .electricity-con .electricity-amount, .subscription-con .subscription-amount{
  margin-bottom: 1rem;
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.airtime-con .airtime-purchase, .electricity-con .electricity-purchase, .subscription-con .subscription-purchase{
  margin-bottom: 1rem;
  display: block;
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.bill-flex{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  padding: 3rem;
}

.transfer-flex{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  padding: 3rem;
}

.transfer-section{
  background: linear-gradient(135deg, #5f9cff, #4f7cff);
  height: 12rem;
  padding: 2rem;
  color: #fff;
}

.transfer-section input, .request-section input{
  width: 80%;
  border-radius: 1rem;
  border: none;
  padding: 0.4rem;
}

.transfer-section input::placeholder, .request-section input::placeholder{
  text-align: center;
}

.transfer-section .t-con{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.transfer-section .t-con p{
  position: relative;
  margin-inline-start: 1.5rem;
}

.transfer-section .t-con button{
  height: 3rem;
  width: 10rem;
  margin-top: -1rem;
  font-size: 1rem;
  background: #1e293b;
  color: #fff;
  border-radius: 3rem;
  border: none;
}

.request-section{
  background: linear-gradient(135deg, #39d98a, #20c997);
  height: 12rem;
  padding: 2rem;
  color: #fff;
}

.request-section h2{
  margin-bottom: 2rem;
}

.request-section .r-con{
  display: flex;
  align-items: center;
}

.request-section .r-con button{
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  margin-top: -0.1rem;
  border-radius: 3rem;
  background: #1e293b;
  color: #fff;
  border: none;
}

.request-section .r-con button:hover{
  background: #162136;
  color: #fff;
}

.profile-card{
  max-width: 360px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 3rem;
  background-color: #f3f3f3;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  text-align: center;
} 

.profile-con{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-card h1, .profile-card p, .profile-card button{
  margin-bottom: 2rem;
}

.profile-card h1, .profile-card .profile-span{
  font-size: 3rem;
  line-height: 1;
}

.profile-card .profile-span{
  font-size: 3rem;
  position: relative;
  font-weight: 600;
  top: 0.15rem;
  line-height: 1;
}

.profile-card p{
  font-size: 1.3rem;
}


.form-container{
  animation: bounce 0.6s ease;
}

.change--name, .close-section{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 3rem;
  background-color: rgba(129, 140, 248, 0.10);
  color: #111827;;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close-section{
  flex-direction: column;
  padding: 5rem;
  background: linear-gradient(135deg, #ff5c5c, #ff3b3b);
  color: #fff;
}

.form-sub-con, .c-con{  
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.c-con{
  margin-top: 3rem;
}

.form-sub-con input, .c-con input{
  width: 15rem;
  height: 3rem;
  border-radius: 1.2rem;
  border: none;
  text-align: center;
}

.form-sub-con label{
  font-size: 1.7rem;
}

.form-sub-con button{
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  background: #5f9cff;
  color: #fff;
  border: none;
}

.form-sub-con button:hover{
  background: #4f46e5;
}

.close-section .c-con button{
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  border: none;
  border-radius: 3rem;
  background: #1e293b;
  color: #fff;
}

.close-section .c-con button:hover{
  background:  #162136;
}

.change-name{
  display: block;
  margin: 0 auto;
}


.actions{
  border: none;
  border-radius: 0.8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.actions button{
  padding: 1rem;
  margin: 3rem;
  border: none;
  border-radius: 8px;
  background: #5f9cff;
  color: #fff;
}

.actions button:hover{
  background: #4f46e5;
}

.logout{
  background: #ff3b3b;
  color: #fff;
}

.info{
  background: rgba(95, 156, 225, 0.15);
  color: #111827;
  border-radius: 1rem;
  padding: 2rem;
}

.info-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.info-con1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-con1 div h3{
  font-size: 1rem;
}

.in, .out,.interest-rate{
  font-size: 0.9rem;
}

.ascend, .descend{
  font-size: 2rem;
}

.ascend:hover, .descend:hover{
  cursor: pointer;
}


/* about us page styling */
.about-main h2{
  text-align: center;
  padding: 1rem;
}

.about-main p{
  text-align: justify;
  padding: 1rem;
  line-height: 1.6;
}


/* contact us page styling */

.contact-main h2{
  text-align: center;
  padding: 1rem;
}

.contact-main p{
  text-align: justify;
  padding: 1rem;
  line-height: 1.6;
}

.contact-main div{
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: #4f46e5;
  line-height: 1.6;
}

.contact-main ul li:hover{
  cursor: pointer;
}

.contact-main ul li a{
  text-decoration:  none;
}

.contact-main ul li a:hover{
  color: #818cf8;
}


/* privacy  page styling */
.privacy-main h2{
  text-align: center;
  padding: 1rem;
}

.privacy-main p{
  text-align: justify;
  padding: 1rem;
  line-height: 1.6;
}

/* term of use page styling */
.term-main h2{
  text-align: center;
  padding: 1rem;
}

.term-main p{
  text-align: justify;
  padding: 1rem;
  line-height: 1.6;
}

/* wait list page styling */
.wait-main h2{
  text-align: center;
  padding: 1rem;
}

.wait-main p{
  text-align: justify;
  padding: 1rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.wait-main form{
  text-align: center;
}

.wait-main label{
  font-size: 1rem;
}

.wait-main input{
  width: 15rem;
  height: 3rem;
  border-radius: 3rem;
  margin-bottom: 2rem;  
  text-align: center;
}

.wait-main button{
  width: 12rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  background: #818cf8;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 3rem;
}


/* toast styling */
.toast{
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  background: #5f9cff;
  color: #fff;
  padding: 1.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease;
  z-index: 999;
}

.toast.show{
  opacity: 1;
  transform: translateY(0);
}

.toast.hide{
  opacity: 0;
  transform: translateY(-2rem);
}


.toast-one{
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  height: 3rem;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  background: #5f9cff;
  color: #fff;
  padding: 1.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease;
  z-index: 999;
}

.toast-one.show{
  opacity: 1;
  transform: translateY(0);
}

.toast-one.hide{
  opacity: 0;
  transform: translateY(-2rem);
}


.processing{
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  background: #dbeafe;
  border-left: 4rem solid #5f9cff;
  color: #1e293b;
  padding: 1.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 999;
}

.processing .p-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.processing.show{
  opacity: 1;
  transform: translateY(0);
}

.processing.hide{
  opacity: 0;
  transform: translateY(-2rem);
}

.success{
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  background: #5f9cff;
  color: #fff;
  padding: 1.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease;
  z-index: 999;
}

.success.show{
  opacity: 1;
  transform: translateY(0);
}

.success.hide{
  opacity: 0;
  transform: translateY(-2rem);
}

.error{
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 1.5;
  background: #f87171;
  color: #fff;
  padding: 1.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease;
  z-index: 999;
}

.error.show{
  opacity: 1;
  transform: translateY(0);
}

.error.hide{
  opacity: 0;
  transform: translateY(-2rem);
}

.warning{
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 1.6;
  background: #dbeafe;
  color: #1e293b;
  border-left: 4rem solid #5f9cff;
  padding: 1.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease;
  z-index: 999;
}

.warning.show{
  opacity: 1;
  transform: translateY(0);
}

.warning.hide{
  opacity: 0;
  transform: translateY(-2rem);
}

.spinner{
  display: inline-block;
  position: relative;
  left: 1.5rem;
  animation: spin 0.8s linear infinite;
  font-size: 2rem;
  color: #5f9cff;
}


/* desktop stylying */
@media screen and (min-width: 768px){
  /* index.html styling */

  .first-visit .first-intro {
    font-size: 2rem;
  }

  .first-visit input{
    width: 20rem;
    height: 5rem;
  }

  .first-visit .lname{
    position: relative;
    left: 0.2rem;
  }

  .first-visit .sign-up{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .first-visit .first--details{
    margin-top: 3rem;
    margin-bottom: 0rem;
    margin-inline-start: -0rem;
    gap: 2rem;
  }

  .first-visit .fname{
    position: relative;
    left: -1.7rem;
  }

  .first-visit .second--details{
    gap: 1rem;
    margin-inline-start: 2.5rem;
    margin-bottom: 0;
  }

  .first-visit .second--details .pass-view{
    margin-top: 0.9rem;
  }

  .first-visit .sign-up {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .sign-up .btn-sign-up{
    margin-top: 1rem;
    border: none;
    font-size: 1.3rem;
    width: 13rem;
  }

  .first-visit .login--input{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0;
  }

  .first-visit .login .pass-view{
    margin-top: 0.8rem;
  }

  .first-visit .login .btn-log-in{
    position: relative;
    top: 2rem;
    border: none;
    font-size: 1.3rem;
    width: 13rem;
  }

  .pass-view{
    position: inherit;
    top: 1rem;
  }

  .first--button button{
    margin: 0 auto;
    border: none;
    width: 15rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    height: 5rem;
  }

  /* main-page-content styling */
  .form-con{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .first--details{
    position: relative;
    display: flex;
    gap: 1rem;
  }

  .second--details{
    position: relative;
    display: flex;
    gap: 0.2rem;
  }

  .pass-view{
    position: relative;
    left: 1rem;
    top: 0.3rem;
    font-size: 1.5rem;
  }

  .pass-view:hover{
    cursor: pointer;
  }

  .main-page-content nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0.4rem;
  }

  .main-page-content nav img {
    max-width: 15rem;
    margin: 0 auto;
    text-align: center;
  }

  .main-page-content nav input {
    width: 10rem;
    text-align: center;
    border: none;
    border-radius: 4rem;
    height: 3rem;
    color: #000;
  }

  .main-page-content nav input::placeholder {
    color: #000;
  }

  .main-page-content nav button {
    width: 5rem;
    border: none;
    font-size: 2rem;
    background: none;
  }

  .main-page-content nav .main-nav-links a {
    font-size: 2rem;
  }

  .main-page-content nav .main-nav-links a:hover {
    font-size: 2rem;
  }

  .main-page-content header h1 {
    font-size: 3rem;
    line-height: 2.5;
  }

  .main-page-content header .intro {
    font-size: 2rem;
    margin-top: -1rem;
  }

  .main-page-content header .learn-more {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .banner-one, .banner-two{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    gap: 2rem;
  }

  .banner-one div h2, .banner-two div h2{
    font-size: 3rem;
  }

  .banner-one div p, .banner-two div p{
    font-size: 1.5rem;
    text-align: justify;
  }

  .intro-img1{
    width: 50%;
    height: auto;
    margin: 0 auto;
  } 

  .desktop-view{
    display: block;
  }

  .mobile-view{
    display: none;
  }

  .banner-two img {
    margin-top: -10rem;
  }

  .index-main .features h2{
    font-size: 4rem;
  }

  .index-main .features .f-p{
    font-size: 2rem;
    text-align: center;
  }

  .index-main .features .f-one, .index-main .features .f-two, .index-main .features .f-three{
    margin-bottom: 3rem;
  }

  .index-main .features .f-one, .index-main .features .f-two, .index-main .features .f-three{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }

  .index-main .features .f-one img, .index-main .features .f-two img, .index-main .features .f-three img{
    width: 50%;
  }

  .index-main .features .f-two img{
    display: block;
    text-align: right;
  }

  .index-main .features .f-two .one, .index-main .features .f-three .two{
    display: none;
   }

   .index-main .features .f-two .two{
    display: block;
   }


  .index-main .features h3{
    font-size: 2rem;
  }

  .index-main .o-slides h3{
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .index-main .o-slides .slide i{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .index-main .testimonials-section h2{
    font-size: 4rem;
  }

  .index-main .testimonials-section p{
    font-size: 1.5rem;
  }

  .index-main .testimonials{
    width: 70rem;
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  .index-main .testimonials-section .t-slides blockquote{
    font-size: 1.3rem;
  }

  .index-main .testimonials-section .t-slides img{
    width: 6rem;
    margin-top: 2rem;
  }


  .index-main .testimonials-section .t-slides h5, .index-main .testimonials-section .t-slides h6{
    font-size: 1.5rem;
  }

  .index-main .testimonials-section .t-slides .testimonial__location{
    font-size: 2rem;
  }

  .footer-links ul {
    font-size: 2rem;
  }

  .main-page-content footer p {
    font-size: 1.5rem;
  }


/* sign in styling for transaction page */
  .t-form{
    margin: 6rem;
    padding: 6rem;
    display: block;
    margin: 0 auto;
  }

  .t-form img{
    width: 10rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

   .t-form .t--login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .t-form .login--input{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .t-form  form input{
    width: 20rem;
    height: 5rem;
    text-align: center;
    border: none;
    border-radius: 4rem;
    color: #000;
  }

  .tsign-in{
    background: #818cf8;
    color: #fff;
    border-radius: 3rem;
    padding: 1rem;
    border: none;
    font-size: 2rem;
    width: 15rem;
  }

  .t-header .first--message{
    font-size: 2rem;
  }

  .t-main{
    padding: 2rem;
  }

  .transaction-page{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto);
    gap: 2rem;
  }

  .total-balance, .deposit, .withdraw{
    font-size: 1.5rem;
  }

  .balance-section{
    grid-row: span 3;
  }

  .balance-content h3, .currentBal p{
    font-size: 1.2rem;
  }

  .transfer-section, .request-section{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .transfer-section .c-con, .request-section .r-con{
    text-align: center;
  }

  .transfer-section .t-con button, .request-section .r-con button, .close-section .c-con button{
    font-size: 1.5rem;
  }

  .t-page .mobile-nav, .nav-toggle{
      display: none;
  }

 .t-page .desktop-nav{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .t-page .desktop-nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    list-style-type: none;
  }

  .t-page .desktop-nav ul li a{
    font-size: 2rem;
  }

  .t-page .dashboard{
    grid-template-columns: 1, 1fr;
    background: hwb(0 100% 0%);
    padding: 5rem;
    margin: 5rem;
    border-radius: 3rem;
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .t-page .dashboard .quick-actions .quick-actions-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .t-page .dashboard .accounts-overview h1{
    font-size: 2rem;
  }

  .account-number{
    padding: 1rem;
  }

  .btn-copy{
    font-size: 3rem;
    position: relative;
    top: 0.3rem;
  }

  .t-page .dashboard .checking-accounts .checking-con h2{
    font-size: 2rem;
  }

  .t-page .dashboard .checking-accounts .checking-con h3{
    font-size: 1.5rem;
  }

  .t-page .dashboard .checking-accounts .checking-con p{
    font-size: 2rem;
  }

  .t-page .dashboard .quick-actions .quick-actions-con div{
    border-radius: 1rem;
    text-align: center;
  }

  .t-page .dashboard .quick-actions .transfer-funds{
    width: 15rem;
  }

  .t-page .dashboard .quick-actions .pay-bills{
    width: 15rem; 
  }

  .bills-sub-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  } 

  .bills-sub-container section{
    margin-bottom: 0rem;
  }

  .transfer-container{
    min-height: 100vh;
  }

  .info-con1 div h3{
    font-size: 1.5rem;
  }

  .in, .out,.interest-rate{
    font-size: 1.4rem;
  }

  .ascend, .descend{
    font-size: 4rem;
  }

  /* about us page styling */
  .about-main h2{
    text-align: center;
    font-size: 3rem;
  }

  .about-main p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
  }


  /* contact us page styling */

  .contact-main h2{
    text-align: center;
    font-size: 3rem;
  }

  .contact-main p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6;
  }

  .contact-main div{
    font-size: 2rem;
  }

  /* privacy  page styling */
  .privacy-main h2{
    text-align: center;
    font-size: 3rem;
  }

  .privacy-main p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
  }

  /* term of use  page styling */
  .term-main h2{
    text-align: center;
    font-size: 3rem;
  }

  .term-main p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
  }

  /* wait list page styling */
  .wait-main h2{
    text-align: center;
    font-size: 3rem;
  }

  .wait-main p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
  }

  .wait-main label{
    font-size: 1.5rem;
  }

  .wait-main button{
    width: 13rem;
  }


  /* toast styling */
  .toast, .toast-one, .success, .error, .warning{
    font-size: 1.5rem;
  }

  .processing .p-text{
    font-size: 1.5rem;
  }
}

/* Keyframes  */
@keyframes dropBounce {
  0% {
    transform: translateY(0rem);
  }

  60% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}